/*
@font-face {
    font-family: "Canter-Bold"; 
    src: url("../fonts/Canter-Bold/Canter-Bold.eot"); 
    src: url("../fonts/Canter-Bold/Canter-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Canter-Bold/Canter-Bold.woff") format("woff"), 
    url("../fonts/Canter-Bold/Canter-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
    }
*/    