/* colors */

$black-footer:          #111314;
$black-main:            #1a1d20;
$orange:                #ffa200;
$blue:                  #2ec3e3;
$white:                 #ffffff;

/* fonts */

$fz:                     14px;
$section-header:         30px;